@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --cor-textos: #000000;
    --cor-barras: #5b13b9;
    --botao-login-hero-envformulario: #5b13b9;
    --botao-login-hero-envformulario-hover: #7d2ae8;
    --background-dash: rgb(233, 127, 233);
    --color-basic: #ffffff;
    --positivo: #008000;
    --negativo: #ff0000;


    --cor-icones: #5b13b9;
    --cor-bordas-ativas: #ffaa2b;

    --fonte-padrao: 'montserrat', sans-serif;
    --tamanhofonte-navbar-footer: 1em;
    --tamanhofonte-sessoes-hero: 2.25em;
    --tamanhofonte-textos: 1.375em;
    --tamanhofonte-container: 24px;
    --fonte--label: 14px;
    --fonte--cards: 12px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-basic);
    padding: 30px;
}

a {
    text-decoration: none;
    color: var(--cor-textos);
    font-weight: 400;
}

.container {
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 400px;
    width: 100%;
    background: var(--color-basic);
    padding: 40px 30px;
    border-radius: 10px;
}

.container form {
    height: 100%;
    width: 100%;
    background: var(--color-basic);
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .form-content .title {
    position: relative;
    font-size: var(--tamanhofonte-container);
    font-weight: 700;
    color: var(--cor-barras);
}

form .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    color: var(--cor-textos)
}

form .signup-form .title:before {
    width: 20px;
}

form .form-content .input-boxes {
    margin-top: 30px;
}

form .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0px 30px;
    font-size: var(--tamanhofonte-textos);
    font-weight: 400;
    border-bottom: 2px solid gray;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: var(--cor-bordas-ativas);
}

.form-content .input-box i {
    position: absolute;
    font-size: var(--tamanhofonte-textos);
    color: var(--cor-barras);
}

form .form-content .input-boxes .button {
    color: var(--color-basic);
    margin-top: 40px;
}

form .form-content .text {
    font-size: var(--fonte--label);
    font-weight: 400;
    color: var(--cor-textos);
}

form .form-content .text a {
    text-decoration: none;
}

form .form-content .input-boxes .button input {
    color: var(--color-basic);
    background: var(--cor-barras);
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

form .form-content .input-boxes .button input:hover {
    background: var(--botao-login-hero-envformulario-hover);
}

form .form-content label {
    color: var(--cor-barras);
    cursor: pointer;
}

form .form-content .cadastrado {
    display: flex;
    align-items: center;
    font-size: var(--fonte--label);
    font-weight: 400;
    color: var(--cor-textos);
    margin-top: 15px;
}

form .form-content .cadastrado {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cadastrado span {
    padding: 0 10px;
}

.cadastrado a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--cor-barras);
}