@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --cor-textos: #000000;
    --cor-barras: #5b13b9;
    --botao-login-hero-envformulario: #5b13b9;
    --botao-login-hero-envformulario-hover: #7d2ae8;
    --background-dash: rgb(233, 127, 233);
    --color-basic: #ffffff;
    --positivo: #008000;
    --negativo: #ff0000;


    --cor-icones: #5b13b9;
    --cor-bordas-ativas: #ffaa2b;

    --fonte-padrao: 'montserrat', sans-serif;
    --tamanhofonte-navbar-footer: 1em;
    --tamanhofonte-sessoes-hero: 2.25em;
    --tamanhofonte-textos: 1.375em;
    --tamanhofonte-container: 24px;
    --fonte--label: 14px;
    --fonte--cards: 12px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-basic);
    padding: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 500px;
    width: 100%;
    background: var(--color-basic);
    padding: 40px 30px;
    border-radius: 10px;
}

.container form {
    height: 100%;
    width: 100%;
    background: var(--color-basic);
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content h2 {
    font-size: var(--tamanhofonte-container);
    padding: 10px 0px;
    text-align: center;
    color: var(--cor-barras);
}

form .form-content .input-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.form-content .recover .box {
    font-size: var(--tamanhofonte-container);
    font-family: var(--fonte-padrao);
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content .input-box input {
    height: 100%;
    width: 75%;
    border: none;
    padding: 0px 30px;
    font-size: var(--tamanhofonte-textos);
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    background: var(--cor-icones);
    color: var(--color-basic);
}

form .form-content .input-boxes .button {
    color: var(--color-basic);
    margin-top: 40px;
}

form .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.button input:hover {
    background: var(--botao-login-hero-envformulario-hover);
}

form .form-content .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin: 5px;
}

form .form-content .box input[type="text"] {
    border: none;
    text-align: center;
    outline: none;
    font-size: var(--tamanhofonte-container);
    width: 40px;
    height: 50px;
}

form .form-content .recover .text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form .form-content .recover .text a {
    margin: 5px 0;
    text-decoration: none;
    color: var(--cor-textos);
    cursor: pointer;
}